* {
    margin: 0;
    padding: 0;
    text-align: center;
}

html, body {
    height: 100%;
}

/* Styling the header and navbar */
.header {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 30px 20vw;
}

.header > p {
    font-size: 1.5em;
    color: #f9faf8;
    font-weight: 700;
    float: left;
    margin: auto;
    padding-left: 20px;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;

    padding-right: 20px;
    margin-left: auto;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 0 20px;
}

/* Styling for hero section */

.hero-content {
    background-color: #1f2937;
    padding: 0 20vw;
    display: flex;
    flex-direction: row;
}

.hero-left > h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    text-align: left;
}

.hero-left > p {
    font-size: 18px;
    color: #e5e7eb;
    text-align: left;
}

.hero-left > button {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 6px 12px;
    border-color: #3882f6;
    border-radius: 18px;
    float: left;
}

/* Styling for main content */

.main-content {
    background-color: #ffffff;
    align-items: center;
    padding: 20px 20vw;
}

.main-content > h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    padding: 20px 0;
}

.main-boxes {
    display: flex;
    justify-content: center;
}

.main-boxes img {
    height: 150px;
    width: 150px;
    border: 1px solid #3882f6;
    border-radius: 10%;
    object-fit: contain;
}

.main-boxes p {

}

/* Styling for quote section */

.quote-box {
    background-color: #e5e7eb;
    padding: 0 20vw;
}

/* Styling for call to action section */

.call-to-action {
    background-color: #ffffff;
    padding: 20 20vw;
}

/* Styling for footer */

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 20px 20vw;
    position: sticky;
    top: 100vh;
}
